name: vyuh_node_flow_workspace
publish_to: none

environment:
  sdk: ^3.9.0

workspace:
  - packages/vyuh_node_flow
  - packages/demo

dev_dependencies:
  flutter_lints: ^6.0.0
  melos: ^7.3.0

melos:
  ide:
    intellij:
      moduleNamePrefix: ''
  command:
    version:
      workspaceChangelog: false

  scripts:
    analyze:
      description: Analyze all packages
      run: dart analyze
      exec:
        concurrency: 2

    test:
      description: Run tests in all packages
      run: flutter test
      exec:
        concurrency: 1

    format:
      description: Format all packages
      run: dart format .
      exec:
        concurrency: 2
