#:schema node_modules/wrangler/config-schema.json

name = "vyuh-node-flow-website"
main = ".open-next/worker.js"
compatibility_date = "2025-12-26"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"
